.solving-complex-problem{
    padding-top: 282px;
    padding-bottom: 253px;
    p{
        font-style: italic;
        font-weight: 500;
        font-size: 40px;
        line-height: 59px;
        max-width: 786px;
        margin-bottom: 9px;
    }
    .eyebrow{
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 14px;
    }
    h4{
        font-style: italic;
        font-weight: 500;
        font-size: 48px;
        line-height: 71px;
    }
}