.card-a01{
    padding: 54px 32px 43px 51px;
    &__header{
        padding-bottom: 40px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            height: 8px;
            width: 357px;
            background-color: $white;
            left: -51px;
            bottom: 0;
        }
        h4{
            text-transform: uppercase;
            margin-bottom: 14px;
            font-weight: 700;
            font-size: 26px;
            line-height: 47px;
            letter-spacing: -0.8px;
            @include media (xl){
                font-size: 32px;
            }
        }
        p{
            font-size: 21px;
            line-height: 31px;
            color: $grey-lighter;
            
        }
    }
    &__body{
        padding-top: 60px;
        padding-bottom: 37px;
        &-logo{
            display: flex;
            gap: 28px;
            flex-direction: column;
            @include media (sm){
                flex-direction: row;
            }
        }
        p{
            color: $grey-lighter;
            padding-bottom: 36px;
            &:last-child{
                padding-bottom: 0px;
            }
        }
    }
    .btn{
        img{
            transition: transform 0.2s ease-in-out;
        }
        &:hover{
            img{
                transform: translate(10px);
            }
        }
    }
}