<footer class="footer">
    <div class="container">
        <div class="footer-inner-wrapper">
            <h2 class="h2">
                @@title
            </h2>
            <div class="footer_body">
                <p class="eyebrow">@@eyebrow</p>
                <p>@@para</p>
            </div>
            <div class="footer_cta">
                <a href="#" class="btn btn-primary">@@buttonText <img src="./img/icons/icon-right_arrow.svg" alt=""> </a>
            </div>
        </div>
    </div>
</footer>