<section class="leadspace">
    <div class="container">
        <div class="leadspace_body">
            <div class="leadspace_body-text">
                <h1>@@title</h1>
                <p>@@para</p>
            </div>
            @@if(hasButtons){
                <div class="leadspace_body-buttons">
                    <a href="#" class="btn btn-primary">
                       <div class="button-title">Our Core Businesses <img src="./img/icons/icon-right_arrow.svg" alt=""></div> 
                        <p>We choose to solve only the most complex problems.</p>
                    </a>
                    <a href="#" class="btn btn-primary">
                       <div class="button-title">Our Projects <img src="./img/icons/icon-right_arrow.svg" alt=""></div> 
                        <p>We choose to solve only the most complex problems.</p>
                    </a>
                    <a href="#" class="btn btn-primary">
                       <div class="button-title">Our Investments<img src="./img/icons/icon-right_arrow.svg" alt=""></div> 
                        <p>We choose to solve only the most complex problems.</p>
                    </a>
                    <a href="#" class="btn btn-borderless">Discover More <img src="./img/icons/icon-right_arrow.svg" alt=""></a>
                </div>
            }
        </div>
    </div>
</section> 