<section class="open-positions">
    <div class="container">
        <div class="open-positions__wrapper">
            <header>
                <h4>@@title</h4>
            </header>
            <div class="open-positions__body">
                <div class="open-positions__department">
                    <div class="title">
                        <h5>Design</h5>
                        <p>Open positions in our design team.</p>
                    </div>
                    <div class="open-positions__department--vacancies">
                        @@include("../cards/card-a05.html")
                        @@include("../cards/card-a05.html")
                    </div>
                </div>
                <div class="open-positions__department">
                    <div class="title">
                        <h5>Marketing</h5>
                        <p>Open positions in our marketing team.</p>
                    </div>
                    <div class="open-positions__department--vacancies">
                        @@include("../cards/card-a05.html")
                        @@include("../cards/card-a05.html")
                    </div>
                </div>
                <div class="open-positions__department">
                    <div class="title">
                        <h5>Finance</h5>
                        <p>Open positions in our finance team.</p>
                    </div>
                    <div class="open-positions__department--vacancies">
                        @@include("../cards/card-a05.html")
                        @@include("../cards/card-a05.html")
                        @@include("../cards/card-a05.html")
                        @@include("../cards/card-a05.html")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>