<section class="portfolio bg-black">
    <div class="container">
        <header class="portfolio__header">
            <h3 class="text-white">Some Problems We’ve Recently Solved</h3>
            <a href="#" class="btn btn-primary">View More Case Studies <img src="./img/icons/icon-right_arrow.svg" alt=""></a>
        </header>
        <div class="portfolio__body">
            @@include('../cards/card-a01.html',{
                'title': 'BUILDING A GLOBAL INTEGRITY FRAMEWORK FOR TALENT AGENTS IN THE ESPORTS INDUSTRY',
                'subTitle': 'for the Esports Integrity Commission',
                'para1Title': 'The problem we solved:',
                'para1':'The global esports talent management industry lacked a clear set of regulatory standards which could bridge jurisdictions and create a common sense of integrity.',
                'para2Title' : 'Value added by the adva group',
                'para2': 'Legal framework, Stakeholder consultation, Web infrastructure, Branding and Identity Design, Operational Outroll',
                'logo1': 'logo-corporate_advantage_light.svg',
                'logo2' : 'logo-newmotion_white.svg'
        })
            @@include('../cards/card-a01.html',{
                'title': 'MIGRATION OF INTERNATIONAL ENTERTAINMENT CONTENT WHILE MAINTAINING INTEGRITY OF UNDERLYING METADATA',
                'subTitle': 'for Nick Jr',
                'para1Title': 'The problem we solved:',
                'para1':'Nick Jr possessed a large amount of SEO & meta data value which would of been compromised without a strategic migration proces',
                'para2Title' : 'Value added by the adva group',
                'para2': 'Project Management, Web Migration Expertise, Consultancy, Project Delivery',
                'logo1': '',
                'logo2' : 'logo-newmotion_white.svg'
            })
            @@include('../cards/card-a01.html',{
                'title': 'INTERNAL FINANCE FUNCTION AUTOMATION AND ONGOING MANAGEMENT REPORTING & CONSULTING',
                'subTitle': 'for Airtasker',
                'para1Title': 'The problem we solved:',
                'para1':'Airtasker had complex finance functions involving several systems which fragment managerial reporting and process coordination.',
                'para2Title' : 'Value added by the adva group',
                'para2': 'Finance Management, Payables and Receivables Automation, Management Reporting, On-going Consulting',
                'logo1': 'logo-corporate_advantage_light.svg',
                'logo2' : ''
            })
        </div>
    </div>
</section>