<section class="service-we-provide bg-white text-black">
    <div class="container">
        <div class="service-we-provide__wrapper">
            <div class="service-we-provide__left">
                @@include('../cards/card-a07.html',{
                'title': 'BUILDING A GLOBAL INTEGRITY FRAMEWORK FOR TALENT AGENTS IN THE ESPORTS INDUSTRY',
                'subTitle': 'for the Esports Integrity Commission',
                'para1Title': 'The problem we solved:',
                'para1':'The global esports talent management industry lacked a clear set of regulatory standards which could bridge jurisdictions and create a common sense of integrity.',
                'para2Title' : 'Value added by the adva group',
                'para2': 'Legal framework, Stakeholder consultation, Web infrastructure, Branding and Identity Design, Operational Outroll',
                'logo1': 'logo-corporate_advantage.svg',
                'logo2' : 'logo-newmotion.svg'
                })
            </div>
            <div class="service-we-provide__right">
                <div>
                    <h5>Service We Provide</h5>
                    <ul>
                        <li>Account</li>
                        <li>Business Consultancy</li>
                        <li>Strategy</li>
                        <li>Marketing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>